<head>
  <%- include('./common/head') %>

      <%- include('./common/homestyle') %>
</head>

<body>
  <header>
      <%- include('./common/header', { links: navbar.links }) %>
  </header>

  <h1>404 Page not found</h1>

  <footer>
      <%- include('./common/footer') %>
  </footer>
</body>