<head>
    <%- include('../common/head')%>
</head>

<body>
    <header>
        <%- include('../common/header', { links: navbar.links }) %>
            <%- include('../common/cart-sum')%>
    </header>
    <main>
        <div class="container">
            <div class="inside"></div>
            <br>
            <h2>Thanks for buying!</h2>
            <p></p>
        </div>
    </main>
</body>