@import url('/fonts/font-awesome.min.css');

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.ui-menu{
  list-style-type: none;
  width: 50px;
  background-color: white;
}

.ui-menu-item:hover{
  
  border: 1px solid black;
  cursor: pointer;
}
